<div *ngIf="logged; else elseBlock">
<mat-toolbar color="primary">
    <button mat-icon-button aria-label="menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">Vendor Portal </h1>
    <button mat-button [matMenuTriggerFor]="submenu" >
        <mat-icon matListAvatar>account_circle</mat-icon>
        {{custid}}
    </button>
    
    <mat-menu #submenu="matMenu">
        <button [routerLink]="['./profile-view']" (click)="sidenav.close()" mat-menu-item> Update Profile</button>
        <button (click)="logout()" mat-menu-item>
            Logout</button>
            <!-- <a id="profile"  mat-list-item [routerLink]="['./profile']" (click)="sidenav.close()" routerLinkActive="active" >
                <mat-icon matListAvatar>perm_contact_calendar</mat-icon>
                <h3>User Profile</h3>
             -->
        <!-- <button mat-menu-item>
            <a id="login" mat-list-item [routerLink]="['']" (click)="sidenav.close()">
            Logout
        </a></button> -->
        <!-- <button mat-menu-item [matMenuTriggerFor]="submenu2">Sub-menu 2</button> -->
    </mat-menu>
    <!-- <mat-menu #submenu2="matMenu">
        <button mat-menu-item>Menu Item 1</button>
        <button mat-menu-item>Menu Item 2</button>
        <button mat-menu-item>Menu Item 3</button>
    </mat-menu> -->
</mat-toolbar>

<mat-sidenav-container  >
    <mat-sidenav [disableClose]="false" mode="push" mat-list-item  #sidenav  [autoFocus]="false" >
        <mat-nav-list  >
            <!-- <a id="profile"  mat-list-item [routerLink]="['./profile']" (click)="sidenav.close()" routerLinkActive="active" >
                <mat-icon matListAvatar>perm_contact_calendar</mat-icon>
                <h3>User Profile</h3>
            </a> -->

            <div mat-subheader>Vendor Dashboard</div>
            <a id="quotation" mat-list-item [routerLink]="['./quotation']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>table_chart</mat-icon>
                <h3>Quotation</h3>
            </a>
            <a id="purchase" mat-list-item [routerLink]="['./purchase']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>fact_check</mat-icon>
                <h3>Purchase Order</h3>
            </a>
            <a id="goods" mat-list-item [routerLink]="['./goods-receipt']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>pending_actions</mat-icon>
                <h3>Goods Receipt</h3>
            </a>
            <div mat-subheader>Vendor Financial Sheet</div>
            <a id="invoice" mat-list-item [routerLink]="['./invoice']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>receipt</mat-icon>
                <h3>Invoice Details</h3>
            </a>
            <a id="payment" mat-list-item [routerLink]="['./payment-aging']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>receipt</mat-icon>
                <h3>Payments & Aging</h3>
            </a>
            <a id="credit" mat-list-item [routerLink]="['./debit-memo']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>receipt</mat-icon>
                <h3>Debit memo</h3>
            </a>
            <a id="credit" mat-list-item [routerLink]="['./credit-memo']" (click)="sidenav.close()" routerLinkActive="active">
                <mat-icon matListAvatar>receipt</mat-icon>
                <h3>Credit memo</h3>
            </a> 
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color:#8d31e1; padding: 3rem;"> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
<ng-template #elseBlock><app-login-page></app-login-page></ng-template>