<div class="container" >
    <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="card-body">
              <div class="card-header shadow p-3 mb-5 text-white bg-danger rounded">
                <h1 class="card-title">Vendor Details</h1>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Vendor Number</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.KUNNR}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">First Name</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.NAME1}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Last Name</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.NAME2}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">House no</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.STRAS}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">City</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.ORT01}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Region</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.REGIO}}
              </div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Country Key</h4>
              </div>
              <div class="col-sm-9 text-secondary">
               {{output.LAND1}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Postal Code</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.PSTLZ}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h4 class="mb-0">Phone</h4>
              </div>
              <div class="col-sm-9 text-secondary">
                {{output.TELF1}}
              </div>
            </div> 
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info "  href="/profile-update">Edit</a>
              </div>
            </div>
          </div>
        </div>
</div>