table {
  width: 100%;
}

tr:hover {
  background-color: #f5f5f5;
}
tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: #4CAF50;
  color: white;
}


.example-container {
  height: auto;
  overflow: auto;
  /* padding-bottom: 3rem; */
  margin-bottom: 3rem;
}