<div class="container" >
    <div class="card">
        <div class="card-header shadow p-3 mb-5 text-white bg-danger rounded">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body shadow p-3">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">                            
                            <input matInput placeholder="Vendor Number " disabled>
                        </mat-form-field>
                    </div> 
                    
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Fist Name" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Sort Field">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Telephone Number" type="phone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Houser Number and Street Number" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Region" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="City" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Country" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Postal Code" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Update Profile</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>